<?xml version="1.0"?>
<!--
@author Maciej Sławik
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Preference section-->

    <preference for="Magento\Framework\Module\Plugin\DbStatusValidator"
                type="Gallinago\ProductionUtils\Plugin\Framework\DbStatusValidator" />

    <!-- End of preference section-->

    <!-- Constructor injection section-->

    <type name="Gallinago\ProductionUtils\Plugin\Framework\DbStatusValidator">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
        </arguments>
    </type>

    <!-- End of constructor injection section-->

</config>